<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IWoC Project Page</title>

  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="icon" type="image/x-icon" href="../public/img/iwoc_final_comp-min.png" />

  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" /> -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="stylesheet" href="../public/css/particle.css" />
  <link rel="stylesheet" href="../public/css/navbar.css" />
  <link rel="stylesheet" href="../public/css/project.css" />
  <link rel="stylesheet" href="../public/css/logo.css" />
</head>

<body>

  <div id="particles-js"></div>

  <!-- navbar -->
  <div class="navigation-wrap start-header start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light" style="margin-left: 20px;">
            <i class="fa fa-arrow-left" style="font-size: 25px; color: rgb(135, 178, 206); cursor: pointer;"
              onclick="window.location.href='/'"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- logo -->
  <div data-aos="zoom-in">
    <div class="logo" id="logo">
      <img src="../public/img/iwoc_logo.png" class="mainlogo" />
    </div>
  </div>

  <div class="projecttitle">Projects</div>

  <!-- cards -->
  <div class="projectsGrid">
    <% for (var i=0; i < project.length; i++) { %>
      <div data-aos="zoom-in">
        <div class="projectCard1" onclick="window.open('<%= project[i].projectUrl %>','mywindow');" style="cursor: pointer;">
          <div class="projectCard2" >
            <!-- <img src="../public/img/curved-images/curved1.jpg" class="w-full rounded-sm" />
            <div class="flex justify-center -mt-8">
            <img src="../public/img/iwoc_final.png" class="rounded-full -mt-3" />
            </div> -->
            <div class="text-center px-3 pb-6 pt-2">
              <h3 class="text-white text-xl bold font-sans" style="background: -webkit-linear-gradient(163deg,#00ff75 50%, #0c5ee2 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                <strong><%= project[i].projectName %></strong>&nbsp; &nbsp;<i class="fa fa-github" style="font-size:30px;color:white"
                    onclick="window.href.location='<%= project[i].repoUrl %>'"></i>
              </h3>
              <p class="mt-2 font-sans font-light text-white">
                <%= project[i].description %>&nbsp;
              </p>
            </div>
            <div class="pb-3 text-white techstack" style="position: absolute; bottom: 2rem;">
              <% for(var j=0; j < project[i].language.length; j++) { %>
                <div class="text-center tech" style="background: #00ff75; color: black;">
                  <span style="width: max-content; padding: 15%;">
                    <%= project[i].language[j] %>
                  </span>
                </div>
              <% }%>
            </div>
          </div>

        </div>
      </div>
    <%}%>
  </div>

  <div class="projFooter" style="text-align: center; padding: 10px; background: #00ff75;">
    <p class="footText"> Make the contributions rain! 🌧️ </p>
  </div>
  <script src="../public/js/particles-project.js"></script>
  <script src="../public/js/particle-project.js"></script>
  <script src="../public/js/navbar.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>